# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
.venv
venv
env
bin
obj

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Filesystem / Uploads
uploads/
backend/uploads/
backend/python/generated/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
